@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Success</h1>
        <p>
            File uploaded to Request ID: @ViewBag.requestID
        </p>
        <p>
            Request submitted.
        </p>
    </div>

<div class="row">

</div>